body{
  background-image: url('assets/white_tiles.png');
}

.loginBtn{
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  background-color: rgb(86, 179, 216);
  color: white;
}

.location{
  color: rgb(86, 179, 216);
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border: 2px solid rgb(86, 179, 216);
  border-radius: 10px;
  padding: 5px;
  margin-top: 10%;
}

.locControls{
  display: inline;
  width: 40%;
}

.occupant{
  display: inline;
}

.btn{
  margin-bottom: 10px;
  width: 15%;
  height: 35px;
}

.inBtn{
  background-color: rgb(86, 179, 216);
  color: white;
}

.outBtn{
  background-color: rgb(237, 144, 45);
  color: white;
}

.duration{
  display: inline;
  float: right;
}