body{
  /*background-image: url('assets/white_tiles.png');*/
  background-image: url('assets/christmas_tiles.png');
  font-family: 'Lato', sans-serif;
}

.hidden {
  opacity: 0;
  cursor: default;
}

#app{
  min-height: 100vh;
}

.topRow{
  display: flex;
}

.topRow>h1{
  flex: 8;
}

.login{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  min-height: 50vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.outOfOrderBtn{
  flex: 1;
  background-color: rgb(255, 204, 0);
}

.notify{
  margin-bottom: 1%;
  margin-top: 1%;
}

.notify>input{
  margin-left: 1%;
}

.logoutBtn{
  height: 35px;
  width: 100px;
  background-color: rgb(237, 144, 45);
  color: white;
}


.welcome{
  flex: 3;
  color: rgb(86, 179, 216);
  font-size: 3em;
}
.loginBtn{
  flex: 1;
  background-color: rgb(86, 179, 216);
  color: white;
  height: 15vh;
  font-size: 1.5em;
}

.location{
  color: rgb(86, 179, 216);
  background-color: white;
  /*margin-left: auto;
  margin-right: auto;
  width: 50%;*/
  border: 2px solid rgb(86, 179, 216);
  border-radius: 10px;
  padding: 5px;
  margin-top: 10%;
}

.location:hover{
  box-shadow: 5px 5px #CCC;
  transition: box-shadow 0.25s;
}

.btn:hover{
  box-shadow: 2px 3px #CCC;
  transition: 0.1s;
}

.perLocation{
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.portrait{
  display: inline;
  max-width: 25px;
  border-radius: 20px;
  margin-right: 3%;
  margin-top: 1%;
}

.requestBar{
  color: rgb(86, 179, 216);
  margin-top: 2%;
  border: 1px solid rgb(86, 179, 216);
  border-radius: 10px;
  padding: 1%;
  min-height: 25px;
  background-color: white;
}

.requestBar>label{
  margin-bottom: 3%;
}

.unavailable{
  background-color: #DDD !important;
}

.locControls{
  display: inline;
  width: 40%;
}

.occupant{
  display: inline;
}

.btn{
  margin-bottom: 10px;
  min-width: 15%;
  height: 35px;
  color: white;
}

.inBtn{
  background-color: rgb(86, 179, 216);
  color: white;
  margin-right: 1%
}

.outBtn{
  background-color: rgb(237, 144, 45);
  color: white;
}

.outOfOrder{
  margin-bottom: 2%;
}

.reqBtn{
  background-color: rgb(46, 114, 42);
  color: white;
}

.deReqBtn{
  background-color: rgb(209, 12, 38);
}

.duration{
  display: inline;
  float: right;
}

.loadingLoc {
  max-height: 100px;
}

#snow{
  background: none;
  font-family: Androgyne;
  background-image: url('http://www.wearewebstars.dk/codepen/img/s1.png'), url('http://www.wearewebstars.dk/codepen/img//s2.png'), url('http://www.wearewebstars.dk/codepen/img//s3.png');
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -100;
  -webkit-animation: snow 10s linear infinite;
  -moz-animation: snow 10s linear infinite;
  -ms-animation: snow 10s linear infinite;
  animation: snow 10s linear infinite;
}
@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-moz-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
}
@-webkit-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-ms-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
} 

.hat {
  position: absolute;
  top: 0;
  right: 0;
}