body{
  background-image: url('assets/white_tiles.png');
}

#app{
  min-height: 100vh;
}

.login{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  min-height: 50vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.welcome{
  flex: 3;
  color: rgb(86, 179, 216);
  font-size: 3em;
}
.loginBtn{
  flex: 1;
  background-color: rgb(86, 179, 216);
  color: white;
  height: 15vh;
  font-size: 1.5em;
}

.location{
  color: rgb(86, 179, 216);
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border: 2px solid rgb(86, 179, 216);
  border-radius: 10px;
  padding: 5px;
  margin-top: 10%;
}

.locControls{
  display: inline;
  width: 40%;
}

.occupant{
  display: inline;
}

.btn{
  margin-bottom: 10px;
  width: 15%;
  height: 35px;
}

.inBtn{
  background-color: rgb(86, 179, 216);
  color: white;
}

.outBtn{
  background-color: rgb(237, 144, 45);
  color: white;
}

.duration{
  display: inline;
  float: right;
}